@use 'resets'
@use 'normalizes'

@font-face
  font-family: "Roboto Condensed"
  src: url('../font/RobotoCondensed-Bold.ttf') format('truetype')
  font-weight: 700
  font-style: normal
  font-display: swap

@font-face
  font-family: "Roboto Regular"
  src: url('../font/RobotoCondensed-Regular.ttf') format('truetype')
  font-weight: 400
  font-style: normal
  font-display: swap

@keyframes appearance        // директива, которая задает сценарий анимации
    0% 
        transform: scale(0.5) rotate(0deg)         // scale размер в начале анимации, rotate поворот в начале анимации
        opacity: 0               // прозрачность
    100% 
        transform: scale(1) rotate(360deg)
        opacity: 1

@keyframes moveUp
    0%
        transform: translateY(var(--offset))
        opacity: 0.3
    100%
        transform: translateY(0)
        opacity: 1

:root
    // color
    --main-color: #FBEAD6
    --second-primary-color: #2C2C2C
    --footer-color: #7AA4AD

    // font
    --header: "Roboto Condensed"
    --main-font: "Roboto Regular"

    // base font size
    --header-size: 40px
    --highlighted-font: 30px
    --main-size-font: 20px
    --mini-text: 12px


.scroll-anim   // подключаем анимацию сразу к общему классу
    animation: moveUp both
    animation-timeline: view()

*
    margin: 0

html, body, a, button
    cursor: none

body
    background-color: var(--main-color)

.menu
    display: flex
    padding: 30px 30px 0 30px
    margin-bottom: 16px
    justify-content: space-between
    &__link-right, &__link-left
        padding: 6px 15px
        text-decoration: none
        color: var(--main-color)
        background-color: var(--second-primary-color)
        font-family: var(--header)
        font-weight: bold
        font-size: var(--header-size)
        display: inline-block        //transform не работает на строчных элементах, поэтому его нужно превратить в блочный
        transform: scale(0.8)
        transition: transform 0.3s ease-out
        &:hover
            transform: rotate(3deg) 
    &__link-left
        &:hover
            transform: rotate(-3deg) 

.header
    max-width: 1200px
    text-align: center
    margin: 0 auto 
    &__image
        position: relative
        max-width: 640px
        margin: 0 auto
        margin-bottom: 67px
    &__logo
        max-width: 640px
        max-height: 640px
        animation: appearance 1.2s ease-out forwards        // запуск анимации прописанной сверху: имя анимации, длительность анимации, ease-out - значит, что анимация стартует быстро, заканчивается плавно, forwards - значит, что анимация зафиксируется, без этого элемент вернется в прежнее состояние
    &__badge
        max-width: 197px
        max-height: 197px
        position: absolute
        left: 90%
        top: 70%
    &__wordmark
        text-align: center
        margin-bottom: 90px
    &__wordmark-image
        width: 100%

.intro
    text-align: center
    margin: 0 auto 166px 
    max-width: 1200px
    &__text-mini
        font-family: var(--header)
        font-size: var(--mini-text)
        margin-bottom: 40px
        color: #717171
    &__text-max
        font-size: var(--highlighted-font)
        font-family: var(--header)
        margin-bottom: 142px
    &__img
        display: block 
        margin: 0 auto
    &__img-tablet
        display: none 
    &__img-mobile
        display: none 

.details
    text-align: center
    margin: 0 auto
    display: flex
    flex-direction: column
    gap: 40px
    margin-bottom: 106px
    &__text
        font-family: var(--header)
        font-size: var(--header-size)

.gallery
    margin-bottom: 105px
    display: flex
    flex-direction: row
    overflow-x: scroll    // прокрутка
    scroll-behavior: smooth    //свойство определяющее поведение прокрутки
    &__image
        margin-bottom: 16px
        text-align: center
        &:last-child
            margin-bottom: 0
    &__pic
        margin-bottom: 50px
        transition: transform 0.3s ease
        &._zoom
            transform: scale(1.15)
            z-index: 100

.agenda
    max-width: 920px
    text-align: center
    margin: 0 auto
    margin-bottom: 104px
    &__star
        margin-bottom: 40px
    &__hero-title
        font-family: var(--header)
        font-size: var(--header-size)
        margin-bottom: 60px
    &__item
        margin-bottom: 60px
        border-top: 1px solid #000
        display: flex
        gap: 128px
    &__time
        font-family: var(--header)
        font-size: var(--main-size-font)
        max-width: 77px
        padding-top: 20px
    &__box
        padding-top: 20px
        width: 72%
        display: flex
        align-items: flex-start
        flex-direction: column
    &__title
        font-family: var(--header)
        font-size: var(--main-size-font)
        margin-bottom: 16px
    &__text
        font-family: var(--main-font)
        font-size: var(--main-size-font)
        text-align: left

.about
    max-width: 1200px
    text-align: center
    margin: 0 auto 94px
    &__image
        font-size: 40px
        margin-bottom: 80px
    &__pic
        max-width: 100%
    &__title
        font-family: var(--header)
        font-size: var(--header-size)
        margin-bottom: 80px
    &__content
        font-family: var(--main-font)
        font-size: var(--main-size-font)
        display: flex
        flex-direction: column
        gap: 20px

.footer
    background-color: var(--footer-color)
    width: 100%
    display: flex
    align-items: center
    flex-direction: column
    padding-top: 40px
    &__menu
        max-width: 1200px
        width: 100%
        margin-bottom: 120px
        display: flex
        justify-content: space-between
    &__contact
        display: flex
        gap: 130px
    &__text
        font-family: var(--main-font)
        font-size: var(--mini-text)
    &__social
        margin-left: auto
        max-width: 94px
        max-height: 16px
        gap: 12px
    &__social-link
        transition: transform 0.3s ease
        &:hover
            transform: scale(1.1)
    &__wordmark
        max-width: 1100px

.custom-cursor
    width: 25px
    height: 25px
    position: fixed
    pointer-events: none
    z-index: 9999
    transform: translate(-50%, -50%)
    background-image: url('../icons/Star-cursor.svg')
    background-size: contain    // масштабирует картинку под размеры 30х30рх
    background-repeat: no-repeat    // не дублирует картинку знизу, по бокам и тд
    background-position: center    // выравнивает внутри блока
    transition: transform 0.3s ease 
    &._hovered
        transform: translate(-50%, -50%) scale(2) rotate(45deg)

@media (800px <= width <= 1279px)
    .menu
        display: flex
        gap: 232px
        text-align: center
        margin: 0 auto
        &__link-right, &__link-left
            font-size: 40px

    .header
        max-width: 720px
        text-align: center
        margin: 0 auto
        margin-bottom: 102px
        &__header-image
            position: relative
            margin-bottom: 112px
        &__logo
            width: 612px
            height: 612px
        &__badge
            position: absolute
            left: 70%
            top: 75%
        &__wordmark-image
            width: 100%


    .intro
        max-width: 720px
        text-align: center
        margin: 0 auto  
        margin-bottom: 166px
        &__text-mini
            display: inline-block
            width: 100%
            height: 18px
            margin-bottom: 40px
        &__text-max
            display: inline-block
            width: 100%
        &__img
            display: none 
        &__img-tablet
            display: block 
            margin: 0 auto
        &__img-mobile
            display: none 

    .details
        max-width: 720px
        text-align: center
        margin: 0 auto
        display: flex
        flex-direction: column
        gap: 40px
        margin-bottom: 106px
        &__text
            font-size: 30px

    .gallery
        max-width: 720px
        display: flex
        flex-direction: column
        margin: 0 auto 170px
        &__image
            max-width: 540px
            margin: 0 auto
        &__pic
            width: 100%
            height: auto

    .agenda
        max-width: 720px
        margin: 0 auto


    .about
        max-width: 720px
        &__title
            width: 100%
            font-size: 30px
            margin: 0 auto 80px    // Оставляем нижний отступ
        &__text
            margin: 0 auto
            width: 100%

    .footer
        width: 100%
        &__menu
            max-width: 720px
        &__contact
            width: 62%
        &__social
            width: 14%
        &__wordmark
            max-width: 720px
            text-align: center
        &__wordmark-image
            width: 86%



@media (1px <= width <= 799px)
    .menu
        display: flex
        flex-direction: column
        align-items: center
        gap: 40px
        &__link-one,
        &__link-second
            font-size: 35px

    .header
        width: 100%
        margin-bottom: 102px

    .header-image
        position: relative
        margin-bottom: 112px
        &__logo
            width: 375px
            height:375px
        &__badge
            width: 84px
            height: 84px
            position: absolute
            left: 65%
            top: 300px

    .wordmark
        &__text
            width: 375px
            height: 168px

    .intro
        margin: 0 auto 166px
        text-align: center
        max-width: 295px
        &__text-mini
            display: inline-block
            margin-bottom: 40px
        &__text-max
            display: inline-block
            margin-bottom: 142px
        &__img
            display: none !important
        &__img-tablet
            display: none !important
        &__img-mobile
            display: block !important
            margin: 0 auto

    .details
        margin-bottom: 76px
        max-width: 295px
        &__text-one,
        &__text-second,
        &__text-third 
            font-size: 30px

    .gallery
        margin: 0 auto 105px
        max-width: 290px
        display: flex
        flex-direction: column
        &__pic
            width: 290px
            transition: transform 0.3s ease
            &._zoom
                transform: scale(1.05)
                z-index: 100

    .agenda
        max-width:295px
        &__image-star
            margin-bottom: 40px
        &__title
            font-family: "Roboto Condensed"
            font-size: 20px
            margin-bottom: 60px
        &__item
            margin-bottom: 60px
            border-top: 1px solid #000
            display: flex
            flex-direction: column
            gap: 24px

    .about
        max-width: 295px
        text-align: center
        margin: 0 auto 94px
        display: flex
        flex-direction: column
        &__img
            max-width: 295px
            margin-bottom: 80px
        &__title
            font-size: 20px
        &__text
            font-size: 20px
            display: flex
            flex-direction: column
            gap: 20px

    .footer-menu
        width: 100%
        display: flex
        gap: 70px
        &__contact
            max-width: 295px
            display: flex
            flex-direction: column
            gap: 64px
            margin: 0 auto
        &__link
            max-width: 295px
            display: flex
            flex-direction: column
            gap: 30px
        &__social
            width: 93px
            margin: 0 
        &__wordmark-image
            max-width: 207px